<div class="container-fluid">

  <%= render :partial => "/partials/page_head", :locals => {:back => ".", :title => "Battery.batteryStatus"} %>


  <button id="update_periodically" class="btn btn-primary btn-block">Get periodically</button>
  <button id="on_status_changed" class="btn btn-primary btn-block">Get on changing of the battery level</button>
  <button id="stop_battery_status" class="btn btn-primary btn-block">Call method stopBatteryStatus()</button>

  <div class="result-area">
    <div id="result" class="alert alert-success" role="alert"></div>
    <div id="error" class="alert alert-danger" role="alert"></div>
  </div>

</div>

<script>

    $("#update_periodically").on("click", function () {
        $.get("<%= url_for :action => :do_update_periodically %>")
    })

    $("#on_status_changed").on("click", function () {
        $.get("<%= url_for :action => :do_on_status_changed %>")
    })

    $("#stop_battery_status").on("click", function () {
        $.get("<%= url_for :action => :do_stop_battery_status %>")
    })

    var showResult = function (value) {
        $("#result").text(value);
    };
    var showError = function (value) {
        $("#error").text(value);
    }
</script>

</body>

</html>
