#header {
    height: 50px;
    margin-top: 10px;
}

#header img {
    width: 32px;
    height: 32px;
    margin-right: 1em;
}

#header .title {
    font-size: 1.4em;
}

#header .btn {
    width: 60px;
}

.item {
    clear: both;
}

.item-name {

}

.item-value {
    word-break: break-all;
}

.result-area {
    margin-top: 1em;
    word-wrap: break-word;
}

#result {
    word-break: break-all;
}