<div class="container-fluid">

  <%= render partial: '/partials/page_head', locals: {back: '.', title: 'Config.configPath'} %>

  <a href="<%= url_for :action => :do_config_path %>" class="btn btn-primary btn-block">Get property configPath </a>

  <div class="result">
    <div class="alert <%= result_css_class %>" role="alert"><%= @result %></div>
  </div>
</div>

</div>