<!--
<div class="row page-title">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <a href="<%= back %>" class="btn btn-default btn-sm">Back</a>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h4 class="text-center"><%= title %></h4>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
  </div>
</div>
-->

<div id="header">
  <a href="<%= back %>" class="pull-left"><img src="/public/images/ic_arrow_back_black_24dp_2x.png"></a>
  <span class="title pull-left"><%= title %></span>
</div>