<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <a href="<%= back %>" class="btn btn-default btn-sm">Back</a>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h4 class="text-center"><%= title %></h4>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
  </div>
</div>