<div class="container-fluid">

  <%= render :partial => "/partials/page_head", :locals => {:back => ".", :title => "Barcode.enumerate"} %>



  <div class="result-area">
    <div class="alert <%= result_css_class %>" role="alert"><%= @result %></div>
  </div>
</div>

</div>