<div class="container-fluid">

  <%= render :partial => "/partials/page_head", :locals => {:back => "../", :title => 'Signature'} %>

  <div class="row">
    <div class="list-group">
      <a href="<%= url_for :action => :take_full_screen %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Signature.takeFullScreen</a>
    </div>
  </div>

</div>