<div class="container-fluid">

  <%= render :partial => "/partials/page_head", :locals => {:back => "/app/", :title => "System"} %>

  <div class="row">
    <div class="list-group">
      <a href="<%= url_for :action => :open_url %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        System.openUrl </a>

      <a href="<%= url_for :action => :run_application %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        System.runApplication </a>
    </div>

  </div>

</div>


